@{

    ViewData["Title"] = "Home page";
}
<div class="jumbotron" style=" height:100vh;background-size:cover;background-image:url('/Content/images/movie.jpg')">
    <h1 class="display-4" style="color:#ffffff; font-weight:bolder">Your one stop shop for movies!</h1>
    <p style="color:#ffffff; font-weight:bolder" class="lead">Select from ranges of movies and genres.</p>
    <hr class="my-4">
    <p style="color:#ffffff; font-weight:bolder">Dont delay reserve your copy now!.</p>
    <p class="lead">
        <a class="btn btn-primary ci-lg" asp-page="/MovieTransactions/Index" role="button">Buy Now</a>
    </p>
</div>